/*.special {
    background-color: darkslateblue; text-fill: white;
}

* {
	-fx-primary-color: #007acc;
	-fx-secondary-color: #4B6EAF;
	-fx-grey-color: #b9b9b9;

	-fx-focus-color: black;
}

.button {
    -fx-background-color:
        -fx-primary-color,
        linear-gradient(#d6d6d6 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
    -fx-font-family: 'Helvetica', Arial, sans-serif;
    -fx-font-weight: bold;
}

.scene {
    -fx-background-color:
            white;
}

.button:hover {
    -fx-background-color:
        -fx-focus-color,
        linear-gradient(#d6d6d6 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}

.button:pressed {
    -fx-background-color:
            -fx-focus-color,
            linear-gradient(#d6d6d6 50%, white 100%),
            radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
}

.text-field {
	-fx-accent: -fx-primary-color;
	-fx-background-color: -fx-primary-color,
                          linear-gradient(#d6d6d6 50%, white 100%),
                          radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
	-fx-background-insets: 0, 0 0 1 0;
	-fx-background-radius: 30;
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );

	-fx-font-family: 'Helvetica', Arial, sans-serif;
        -fx-font-weight: bold;
}

.text-field:focused {
	-fx-background-color: -fx-focus-color, white;
}

*//*.button:focused {
	-fx-background-color:
            -fx-focus-color,
            linear-gradient(#d6d6d6 50%, white 100%),
            radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
}*//*

.combo-box {
    -fx-accent: -fx-primary-color;
	-fx-background-color: -fx-primary-color,
                          linear-gradient(#d6d6d6 50%, white 100%),
                          radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
	-fx-background-insets: 0, 0 0 1 0;
	-fx-background-radius: 30;
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );

	-fx-font-family: 'Helvetica', Arial, sans-serif;
        -fx-font-weight: bold;
}

.combo-box:focused {
	-fx-background-color:
            -fx-focus-color,
            linear-gradient(#d6d6d6 50%, white 100%),
            radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
}*/

.keyword {
    -fx-fill: purple;
    -fx-font-weight: bold;
}
.semicolon {
    -fx-font-weight: bold;
}
.paren {
    -fx-fill: firebrick;
    -fx-font-weight: bold;
}
.bracket {
    -fx-fill: darkgreen;
    -fx-font-weight: bold;
}
.brace {
    -fx-fill: teal;
    -fx-font-weight: bold;
}
.string {
    -fx-fill: blue;
}

.comment {
	-fx-fill: cadetblue;
}

.paragraph-box:has-caret {
    -fx-background-color: #f2f9fc;
}
